.cell {
  border: 5px solid black;
  font-family: 'Ubuntu Mono';
  font-size: 50px;
  height: 100px;
  text-align: center;
  width: 100px;
}

.spawn { 
  color: red;
};

.spinner {
  display: block;
  margin: 5% auto;
  width: 62%;
}
