<template name='grid'>
  <table class='grid'>
    <tr>
      <td class='cell'>{{{cell "0" "0"}}}</td>
      <td class='cell'>{{{cell "0" "1"}}}</td>
      <td class='cell'>{{{cell "0" "2"}}}</td>
      <td class='cell'>{{{cell "0" "3"}}}</td>
    </tr>
    <tr>
      <td class='cell'>{{{cell "1" "0"}}}</td>
      <td class='cell'>{{{cell "1" "1"}}}</td>
      <td class='cell'>{{{cell "1" "2"}}}</td>
      <td class='cell'>{{{cell "1" "3"}}}</td>
    </tr>
    <tr>
      <td class='cell'>{{{cell "2" "0"}}}</td>
      <td class='cell'>{{{cell "2" "1"}}}</td>
      <td class='cell'>{{{cell "2" "2"}}}</td>
      <td class='cell'>{{{cell "2" "3"}}}</td>
    </tr>
    <tr>
      <td class='cell'>{{{cell "3" "0"}}}</td>
      <td class='cell'>{{{cell "3" "1"}}}</td>
      <td class='cell'>{{{cell "3" "2"}}}</td>
      <td class='cell'>{{{cell "3" "3"}}}</td>
    </tr>
  </table>

  <div class='btn-group'>
    <div class='btn btn-default down'>Down</div>
    <div class='btn btn-default left'>Left</div>
    <div class='btn btn-default right'>Right</div>
    <div class='btn btn-default up'>Up</div>
    <div class='btn btn-default reset'>Reset</div>
  </div>
</template>
