<template name='home'>
  {{#if Template.subscriptionsReady}}
    <div class='col-sm-6'>
      <div class='panel panel-default'>
        <div class='panel-heading'>Users</div>
        <div class='list-group'>
          {{#each users}}
            <a class='list-group-item' href='#'>{{getUserEmail this}}</a>
          {{/each}}
        </div>
      </div>
    </div>

    <div class='col-sm-6'>
      <div class='panel panel-default'>
        <div class='panel-heading'>Grids</div>
        <div class='panel-body'>
          <div class='btn-group'>
            <div class='btn btn-default new-grid'>New</div>
          </div>
        </div>
        <div class='list-group'>
          {{#each grids}}
            <a class='list-group-item' href='{{pathFor "grid"}}'>Fake</a>
          {{/each}}
        </div>
      </div>
    </div>
  {{else}}
    {{> loading}}
  {{/if}}
</template>
